# Server Configuration
DB_USERNAME=admin
DB_PASSWORD=admin
DB_URL=jdbc:postgresql://db:5432/aparcar_db?&serverTimezone=UTC
DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_PROFILES_ACTIVE=dev

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=1234 5678 9101 1121

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=aparcar_db
